.photo {
  height: 500px;
}

html,
body,
#root {
  display: flex;
  background: #fff;
  color: #000000;
  height: 100%;
  margin: 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.banner {
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: rgb(83, 83, 83);
  position: absolute;
  top: 0;
  left: 250px;
}
