

html,
body,
#root {
  display: flex;
  background: rgb(224, 224, 224);
  color: #000000;
  height: 100%;
  margin: 0%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.banner {
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: rgb(83, 83, 83);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  background: rgb(233, 233, 233);
  padding: 30px;

}
.photo{
  width: 100%;
  height: 500px;
}

.popover {
    background: tomato;
    border-radius: 25px;
    margin-left: 20px;
    padding: 5px;
}

.neck{
  position: absolute;
  top: 30%;
  left: 47%;
  width: 4%;
  height: 5%;
  opacity: 1;
}

.upperback {
  position: absolute;
  top: 35%;
  height: 10%;
  left: 47%;
  width: 5%;
  opacity: 1;
}
.lowerback {
  position: absolute;
  top: 45%;
  height: 10%;
  left: 47%;
  width: 5%;
  opacity: 1;
}
